<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="grad" style="width:650px;display: block;margin-left: auto;margin-right: auto; border-radius: 15px;font-family:disco;padding-top: 50px;padding-bottom: 50px;">
  	  <div style="margin-bottom: 30px; FONT-SIZE: 38px;color: white;padding-left: 50px;padding-right: 50px;"> Edit Profile Information</div>
	<%= render 'form' %>
  </div>
</div>

