<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to prysmic.com, <%= @name %></h1>
    <p>Attached is your Passbook Pass</p>
    <div><%= image_tag attachments['file.pkpass'] %></div>
  </body>
</html>