<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div id="grad" style="width:750px;display: block;margin-left: auto;margin-right: auto; border-radius: 15px;font-family:disco;padding: 50px;">
  <div style="margin-bottom: 30px; FONT-SIZE: 50px;color: white;margin-left: 50px;"> Select Packet</div>
  <table id="profile_table" style="width: 650px;border-radius:15px;border-radius:15px;background-color:white">
    <thead>
      <tr style="border-bottom:1px solid gray">
        <td style="color: #3A5CAC;font-family: disco;padding: 8px;font-size: 20px;border-right: 1px solid gray;text-align: center;"> phone </td>
        <td style="color: #3A5CAC;font-family: disco;padding: 8px;font-size: 20px;border-right: 1px solid gray;text-align: center;"> details</td>
        <td style="color: #3A5CAC;font-family: disco;padding: 8px;font-size: 20px;text-align: center;"> download</td>
      </tr>
    </thead>
    <tbody>
      <% @hosted_files.each do |file| %>
      <tr style="border-top:1px solid gray">
        <td style="color: #3A5CAC;font-family: disco;padding: 10px;border-right: 1px solid gray;" > <%= file.phone_type %> </td>
        <td style="color: #3A5CAC;font-family: disco;padding: 10px;border-right: 1px solid gray;" > <%= file.description %> </td>
        <td style="color: #3A5CAC;font-family: disco;padding: 10px;border-bottom-right-radius:10px">
        	<%= link_to(new_download_ticket_path(:file_id => file.id), :remote => true)  do %>
        		<button type="button" class="btn btn-warning">Select</button>
        	<% end %>
		</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>