<div> we in admin tab </div>

<div> <%= link_to "see all requests", requests_path %> </div>

<div> <%= link_to "see all environment", environments_path %> </div>

<div> <%= link_to "see all users", admin_users_path %> </div>