<div style="float:left"><%= link_to 's', pass %></div>
<div style="float:left">-</div>
<div style="float:left"> <%= link_to 'E', edit_personal_health_record_path(pass) %></div>
<div style="float:left"></div>