<div class="modal-header" style="margin-top: 100px;
    background: white;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;">
  <div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contact?</h3>
  </div>
  <div class="modal-body">
    <p> Email us at contact@Prysmic.info</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>