<!DOCTYPE html>
<html>
<head>
  <title>Meis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style ="width:100%;height:150px;background-color:grey"></div>
<%= yield %>

</body>
</html>
